$color-primery: #5236A3;
$color-primery-light: #8f6df0;
$color-primery-dark: #725aba;
$color-gray: #D9D9D9;
$color-white: #ffffff;
$color-gray-light: #F1F1F1;
$color-gray-dark: #505e78;
$color-text: #838383;
$color-black: #000000;
$color-brown: #57434d;
$color-blue: #8ad0f3;
$color-green: #025404;
$color-red: #e91e1e;
